*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background {
    opacity: 0;
    animation: fade-in 2.6s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.UltraBlurPro {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 26%;
    z-index:-1;
    overflow: hidden;
}

#ProfilUtama {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit:cover;
    border-radius: 10em;
}

ul {
    list-style: none;
    color: black;
}
.list, .list2 {
    margin-top: 4px;
    position: absolute;
    z-index: 2;
    width: 210px;
    background-color: white;
    border-radius: 0.32em;
}
.list-items, .list-items2 {
    padding: 10px 5px;
    transition: 0.24s ease-out;
}
.list-items:hover, .list-items2:hover {
    background-color: #dddddd;
    border-radius: 0.32em;
}
.list-items:active, .list-items2:active {
    background-color: red;
    border-radius: 0.32em;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    background-size: cover;
}
#header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#idText {
    border-radius: 0.26em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.4px;
    animation: opacityAwal 0.8s ease forwards;
}
.buttonOptionDesain {
    display: flex;
    gap: 6px;
    animation: opacityAwal 1.4s ease forwards;
}

@media only screen and (min-width: 800px) {
    #header1 {
        padding-left: 56px;
        padding-right: 14px;
    }
    #idText {
        padding: var(--padding1);
        font-size: 36px;
    }
    #idTextHidden {
        display: none;
    }
}
@media only screen and (min-width: 620px) and (max-width: 799.5px) {
    #header1 {
        padding-left: 42px;
        padding-right: 14px;
    }
    #idText {
        padding: var(--padding1);
        font-size: 36px;
    }
    #idTextHidden {
        display: none;
    }
}
@media only screen and (min-width: 560px) and (max-width: 619.5px) {
    #header1 {
        padding-left: 34px;
        padding-right: 14px;
    }
    #idText {
        padding: var(--padding1);
        font-size: 36px;
    }
    #idTextHidden {
        display: none;
    }
}
@media only screen and (min-width: 520px) and (max-width: 559.5px) {
    #header1 {
        padding-left: 26px;
        padding-right: 14px;
    }
    #idText {
        padding: var(--padding086);
        font-size: calc(36px * 0.86);
    }
    #idTextHidden {
        display: none;
    }
}
@media only screen and (min-width: 440px) and (max-width: 519.5px) {
    #header1 {
        padding-left: 24px;
        padding-right: 14px;
    }
    #idText {
        padding: var(--padding08);
        font-size: calc(36px * 0.8);
    }
    #idTextHidden {
        display: none;
    }
}
@media only screen and (min-width: 366px) and (max-width: 439.5px) {
    #header1 {
        padding-left: 14px;
        padding-right: 14px;
    }
    #idText {
        padding: var(--padding074);
        font-size: calc(36px * 0.74);
    }
    #idTextHidden {
        display: none;
    }
}
@media only screen and (min-width: 0px) and (max-width: 365.5px) {
    #header1 {
        padding-left: 14px;
        padding-right: 16px;
    }
    #idText {
        display: none;
    }
}

#header2 {
    height: 20px;
}

#buttonNavColor, #buttonNavImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    aspect-ratio: 2 / 3;
    border-radius: 0.6em;
    font-weight: 550;
    font-size: 17px;
    color: black;
    transition: all 0.2s ease-out;
}

#iconColor, #iconImage {
    position: relative;
    display: block;
    width: 100%;
}
.iconColor {
    transform: scale(2.42);
}
.iconImage {
    transform: scale(2.06);
}

@media only screen and (min-width: 450px) {
    #NavCenterXP2 {
        display: inline;
    }
}
@media only screen and (min-width: 0px) and (max-width: 449.5px) {
    #NavCenterXP2 {
        display: none;
    }
}

#Nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: navAwal 2s ease forwards;
}
#NavLite {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacityAwal 1.2s ease forwards;
}
@keyframes navAwal {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    } 40% {
        transform: translateY(-100vh);
        opacity: 1;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}
#NavNon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacityAwal 0.625s ease forwards;
}
#NavX {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
    margin: 0 5%;
}

#NavCenter, #NavCenterDes, #NavCenterMob {
    height: 60px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    display: flex;
}

#NavCenterAB {
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    background: #04f851;
    transform: scale(0.5);
}

#MenuPopUpA {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(50%);
}

.iconM {
    transform: scaleX(4.2) scaleY(5);
}
.iconMP {
    transform: scale(3.8);
    color: white;
}

#buttonMenuP {
    height: 76px;
    width: 76px;
}

#NavCenter2 {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: scale(calc(1/3));
}
#Nav2 {
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a9a;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 100em;
}
#Nav2A {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    left: 0px;
    z-index: 6;
    height: 100vh;
    overflow: hidden;
}

#Nav2B, #Nav2A, #Nav2 {
    align-items: center;
    overflow-x: hidden;
}

#NavCenter2A, #NavCenter2B  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#NavCenter2C  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 54px;
}

@keyframes buttonNav2 {
    0% {
        display: none;
        transform: scale(0);
    }
    100% {
        display: flex;
        transform: scale(3);
    }
}

@keyframes buttonNav2R {
    0% {
        display: flex;
        transform: scale(3);
    }
    100% {
        display: none;
        transform: scale(0);
    }
}

#NavCenterX, #NavCenterX3, #NavCenterXP,  #NavCenterXP2 {
    position: relative;
    z-index: 1;
}
#NavCenterX2 {
    position: relative;
    z-index: 2;
}

#buttonNavHome, #buttonNavHomeM, #buttonNavHomeX, #buttonNavHomeMX, #buttonNavHomeX2, #buttonNavBack, #buttonNavHomeP, #buttonNavCreate, #buttonNavCreateX, #buttonNavCreateP, #buttonNavNews, #buttonNavNewsX, #buttonNavNewsP, #buttonNavChat, #buttonNavChatM, #buttonNavChatX, #buttonNavWallpaper, #buttonNavWallpaperX, #buttonNavProfil, #buttonNavProfilM, #buttonNavProfilX, #buttonNavLogout, #buttonNavLogoutX, #buttonNavLogoutP, #buttonMenu, #buttonMenuX, #buttonMenuP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    aspect-ratio: 2.4 / 3;
    border: 0;
    font-weight: 550;
    font-size: 17px;
}
#buttonNavHome:active, #buttonNavHomeM:active, #buttonNavHomeX:active, #buttonNavHomeMX:active, #buttonNavHomeX2:active, #buttonNavBack:active, #buttonNavHomeP:active, #buttonNavCreate:active, #buttonNavCreateX:active, #buttonNavCreateP:active, #buttonNavNews:active, #buttonNavNewsX:active, #buttonNavNewsP:active, #buttonNavChat:active, #buttonNavChatM:active, #buttonNavChatX:active, #buttonNavWallpaper:active, #buttonNavWallpaperX:active, #buttonNavProfil:active, #buttonNavProfilM:active, #buttonNavProfilX:active, #buttonNavLogout:active, #buttonNavLogoutX:active {
    color: rgb(255, 18, 18);
    transition: all 0.2s ease;
}

@keyframes opacityAwal {
    0% {
        display: none;
        opacity: 0;
    } 42% {
        display: inline;
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

#iconH, #iconHM, #iconHX, #iconHMX, #iconHX2, #iconHP, #iconCre, #iconCreX, #iconCreP, #iconN, #iconNX, #iconNP, #iconP, #iconPM, #iconPX, #iconC, #iconCM, #iconCX, #iconW, #iconWX #iconL, #iconLX, #iconLP  {
    position: relative;
    display: block;
    color: white;
    transform: translateY(7.82%);
}

#textH, #textHM, #textHX, #textHMX, #textHX2, #textHP, #textCre, #textCreX, #textCreP, #textN, #textNX, #textNP, #textP, #textPM, #textPX, #textC,#textCM, #textCX, #textW, #textWX, #textL, #textLX, #textLP {
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    opacity: 0;
}
.teksLite {
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: calc(16px * 1.2);
}

@keyframes iconAni {
    0% {
        transform: translateY(7.82%);
    }
    100% {
        transform: translateY(20px) scale(0.6);
    }
}
@keyframes iconAniR {
    0% {
        transform: translateY(20px) scale(0.6);
    }
    100% {
        transform: translateY(7.82%);
    }
}
@keyframes iconAni2 {
    0% {
        transform: translateY(7.82%);
    }
    100% {
        transform: translateY(20px) scale(0.46);
    }
}
@keyframes iconAni2R {
    0% {
        transform: translateY(20px) scale(0.46);
    }
    100% {
        transform: translateY(7.82%);
    }
}
@keyframes textAni {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(-6px);
    }
}
@keyframes textAniR {
    0% {
        opacity: 1;
        transform: translateY(-6px);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

#NavCenterXPopLens {
    color: white;
}

#NavCenterXPop {
    background: transparent;
    height: 46px;
    border: 0;
    font-weight: 550;
    font-size: 17px;
    color: white;
}
#NavCenterXPop:active {
    color: rgb(255, 18, 18);
    transition: all 0.2s ease;
}

#buttonMenu, #buttonMenuX, #buttonMenuP {
    background: transparent;
    border: 0;
    border-bottom: 0;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 3;
}
.buttonMenu:active, .buttonMenuX:active, #buttonMenuP:active {
    transform: rotate(360deg);
    padding-top: 4px;
    transition: all 0.32s ease;
}

.buttonMenuAB{
    background: transparent;
    width: 60px;
    border: 0;
}
.buttonMenuT{
    background: transparent;
    width: 60px;
    border: 0;
    z-index: 4;
    padding-top: 0px;
}

.Pencarian[type=text] {
    width: 32px;
    height: 32px;
    outline: none;
    background: transparent;
    border-radius: 10em;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 13px;
    -webkit-transition: width 0.24s ease-in-out, border-radius 0.16s ease-in-out;
    transition: width 0.24s ease-in-out, border-radius 0.24s ease-in-out;
}
.Pencarian[type=text]:hover {
    width: 210px;
    border-radius: 50px;
}
.Pencarian[type=text]:valid {
    width: 210px;
    border-radius: 50px;
}
.Pencarian::placeholder {
    transition: all 0.36s ease;
}
.PencarianLens {
    z-index: -1;
    position: absolute;
    transform: scale(2.6) rotate(60deg) translate(5.33px, 8.8px);
    font-family: "Poppins", sans-serif;
}

#buttonPencarian {
    position: absolute;
    right: -46px;
    top: 50%;
    height: 23px;
    width: 42px;
    color: black;
    background: #04f851e5;
    cursor: pointer;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    pointer-events: none;
    outline: none;
    opacity: 0;
    border-radius: 100px;
    border: 0px;
    transform: translate(-124%, -50%);
    transition: all 0.12s ease-out;
}


#buttonMenuA, #buttonMenuAX {
    transform: translateY(7px);
}
#buttonMenuB, #buttonMenuBX {
    transform: translateY(-7px);
}

@keyframes buttonMenu2A {
  0%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(1px);
  }
}

@keyframes buttonMenu2AR {
  0%{
    transform: translateY(1px);
}
  100%{
    transform: translateY(7px);
}
}

@keyframes buttonMenu2B {
  0%{
      transform: translateY(-7px);
    }
  100%{
      transform: translateY(-1px);
    }

}

@keyframes buttonMenu2BR {
  0%{
    transform: translateY(-1px);
  }
  100%{
    transform: translateY(-7px);
  }
}

@keyframes buttonMenu2BPop {
    0%{
        transform: rotate(0);
      }
    100%{
        transform: rotate(-180deg);
        padding-right: 4px;
      }
  
  }
  
@keyframes buttonMenu2BPopR {
    0%{
      transform: rotate(-180deg);
      padding-right: 4px;
    }
    100%{
      transform: rotate(0);
    }
  }

@keyframes ul-topA2 {
  0%{
    top: -240px
  }
  100%{
    top: 72px;
  }
}
@keyframes ul-topA2R {
  0%{
    top: 72px;
  }
  100%{
    top: -240px
  }
}



/* Tambah Data */

.ul-top2TDDivScroll {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2c3a4792;
    padding-top: 120px;
    overflow-y: scroll;
    animation: ul-top2DivScroll 0.6s ease forwards
}

@keyframes ul-top2DivScroll {
    0%{
        transform: translateX(-100%);
    }
    68%{
        transform: scale(1.08) translateX(3%)
    }
    100%{
        transform: scale(1) translateX(0%)
    }
}
@keyframes  ul-top2DivScrollR {
    0%{
        transform: scale(1) translateX(0%)
    }
    32%{
        transform: scale(1.04) translateX(8%)
    }
    100%{
        transform: translateX(-100%)
    }
}

.WadahTD {
    background: #bed3e1e0;
    width: 400px;
    border-radius: 24px;
    padding-top: 26px;
    padding-bottom: 32px;
}

.inputTD {
    border-radius: 12px;
    border: 1px solid;
    height: 50px;
}
.inputTD:focus::placeholder {
    color: #f94f3c;
}
.inputTD[type=text] {
    border-radius: 12px;
    border: 1px solid;
    width: 64%;
    height: 26px;
    margin: 6px 0px 20px 0px;
    box-sizing: border-box;
    border: 1px solid red;
    padding: 13px;
}
.inputTD[type=number] {
    border-radius: 12px;
    border: 1px solid;
    width: 64%;
    height: 26px;
    margin: 6px 0px 20px 0px;
    box-sizing: border-box;
    border: 1px solid red;
    padding: 13px;
}

.inputTD[type=file] {
    height: 26px;
    width: 40%;
    padding: 0 80px 0 13px;
    border-radius: 3px;
    font-size: 15px;
    background: #d0d5dae5;
    transition: all 0.3s ease;
    border-radius: 12px;
    border: 1px solid red;
}
.inputTD[type=file]::placeholder {
    color: #f94f3c;
}
.inputTD[type=file]:focus {
    border-color: #b5170600;
}
.inputTD[type=file]::-webkit-file-upload-button {
    display: none;
}
.inputTD[type=file]::before {
    content: 'Profilã…¤';
    color: #46415d;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px;
}

.buttonTD {
    position: absolute;
    height: 29px;
    width: 90px;
    color: black;
    background: #04f851;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 12px;
    border: 0px;
    transform: translate(-100%, -2%);
}
.buttonTD:hover {
    background: #ea2009;
    transition: all 0.42s ease;
}
.buttonTD:active {
    background: #d91009;
    transition: all 0.16s ease;
}