.mobileBody {
    background: antiquewhite;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outputPrima {
  position: absolute;
  margin: 65px 18px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-right: 3px solid tomato;
  border-left: 3px solid tomato;
  border-radius: 0.8em;
  opacity: 0;
}

#centerMobile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}
.WadahKalkulatorHP {
  position: relative;
  background: rgb(18, 18, 18);
  box-shadow: 4px 10px 12px 1px #141a1f;
  width: 246px;
  height: 507.482517px;
  border-radius: 2.6em;
  border-bottom: 8px solid #15244d;
  border-right: 2px solid #15244d;
  display: flex;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layerKalkulatorHP {
  background: #121516;
  height: 100%;
  width: calc(100% + 2*2px);
  border-radius: 2.18em;
}
.layerKalkulatorOnHP {
  position: relative;
  background: white;
  width: calc(100% + 2*2px);
  height: 100%;
  border-radius: 2.18em;
  animation: layar 3.86s ease forwards;
}
.layerKalkulatorOnHPMobile {
  position: relative;
  background: transparent;
  width: calc(100% + 2*2px);
  height: 100%;
  border-radius: 2.18em;
}
.iFrameDiv {
  position: absolute;
  width: 100%;
  height: 507.482517px;
}
.iFrameDivX {
  position: relative;
  width: calc(100% / 0.6);
  height: calc(100% - 48px);
  z-index: 2;
  transform: scale(0.6) translateY(calc((22px + 21px + 3*6.5px) / 0.6));
  transform-origin: 0 0;
}
.iFrameMobile {
  position: relative;
  background: #33373a;
  width: 99.97%;
  height: calc((100% - (22px + 21px + 3*6.5px)) / 0.6);
  border: 0;
}
.footerUnder {
  position: relative;
  background: #33373a;
  width: 100%;
  height: 48px;
  border-radius: 0 0 2.18em 2.18em;
}
.iconFooterDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 8px);
  height: 30px;
  padding: 0 4px;
}
.iconFooter {
  color: white;
}
.iconFooterX {
  width: 15px;
  height: 15px;
  color: white;
  font-size: 10px;
  border-radius: 0.56em;
  border: 2px solid white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addIconFooter {
  width: fit-content;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 10em;
  background: #5e6367;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iFrameMobileTop {
  position: absolute;
  background: #33373a;
  /* background: red; */
  z-index: 3;
  width: 100%;
  height: calc(28.5px + 22px + 2*6.5);
  padding-top: 28.8px;
  border-radius: 2.18em 2.18em 0 0;
  border: 0;
  transform-origin: 0 0;
}
.inputiFrameDiv {
  width: calc(100% - 5.5%);
  padding: 6.5px 1.5% 5.5px 4%;
}
.inputiFrame {
  position: relative;
  z-index: 12;
  background: #5e6367;
  width: calc(100% - 5.5% - (14% + 10%));
  height: 22px;
  color: white;
  outline: none;
  padding: 0 10% 0 14%;
  font-size: 11px;
  border-radius: 10em;
  border: 0;
}
.inputLock {
  position: absolute;
  z-index: 14;
  color: white;
  padding-top: calc(2.4px / 0.70);
  transform: scale(calc(0.86 *0.74), calc(0.70 *0.74)) translateX(25.6px);
}
.inputCopyButton {
  position: absolute;
  z-index: 14;
  transform: scale(0.92) translateX(-29px);
  background: transparent;
  border: 0;
  height: 24px;
}
.inputCopy {
  position: relative;
  color: white;
}
@keyframes layar {
  0% {
    background: #121516;
    box-shadow: 0 0 9px #121516;
    background-image: url(/FileWeb/Wallpaper/W4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
  } 100% {
    background: white;
    box-shadow: 0 -1px 8px tomato, 0 1px 8px rgb(0, 176, 188);
    background-image: url(/FileWeb/Wallpaper/W4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
#layerKalkulatorHP {
  background: transparent;
  border: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: end;
  font-size: 30px;
  width: 90%;
  outline: none;
  color: black;
  margin-top: 150px;
  margin-bottom: 9px;
  margin-left: 2px;
  height: 10%;
  animation: tombolKalku 0.6s ease forwards;
}
#layerSUSU {
  background: transparent;
  border: 0;
  font-size: 17px;
  text-align:left;
  width: 90%;
  outline: none;
  color: black;
  margin-top: 150px;
  margin-bottom: 8px;
  animation: tombolKalku 0.6s ease forwards;
}
.inputSusu {
  border-radius: 0.6em;
  background: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 20px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 40px;
}

.buttonKalkulatorHP {
  height: min-content;
  display: flex;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  padding-top: 9px;
  padding-bottom: 9px;
  background: rgba(255, 255, 255, 0.5);
  animation: tombolKalku 0.6s ease forwards;
}
.buttonKalkulatorLHP {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-items: center;
  animation: tombolKalku 0.6s ease forwards;
}
.tombolKalkuHP, .tombolKalkuUHP, .tombolKalkuXHP {
  background: transparent;
  border: none;
  width: 40px;
  margin: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 10em;
  cursor: pointer;
  transition: all 0.28s ease-out;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: tombolKalku 0.6s ease forwards;
}
@keyframes tombolKalku {
  0% {
    opacity: 0;
    transform: scaleX(0);
  } 64% {
    transform: scaleX(1);
  } 100% {
    opacity: 1;
  }
}
.tombolKalkuXXHP {
  background: tomato;
  color: white;
  border: none;
  width: 40px;
  margin: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 10em;
  cursor: pointer;
  transition: all 0.28s ease-out;
  font-size: 21px;
  font-weight: 600;
  animation: tombolKalku 0.6s ease forwards;
}
.tombolKalkuHP:hover, .tombolKalkuUHP:hover, .tombolKalkuXHP:hover {
  color: red;
}
.tombolKalkuHP {
  color: tomato;
}
.tombolKalkuUHP {
  color: #ff4646;
}
.tombolKalkuXHP {
  color: black;
}

#on-off {
  position: absolute;
  border-radius: 0 0.4em 0.4em 0;
  border: 0;
  height: 60px;
  background: #1c316b;
  transform: scaleX(36%) translate(368.5px, 167.34px);
  box-shadow: 4px 10px 12px 1px #141a1f;
}
#on-off:active {
  transform: scaleX(28%) translate(472.2px, 167.34px);
}
#lonceng {
  position: absolute;
  border-radius: 0.4em 0 0 0.4em;
  border: 0;
  height: 20px;
  background: #1c316b;
  transform: scaleX(20%) translate(-711px, 107.37px);
}
#volUp {
  position: absolute;
  border-radius: 0.4em 0 0 0.4em;
  border: 0;
  height: 42px;
  background: #1c316b;
  transform: scaleX(28%) translate(-509.6px, 138.7px);
}
#volDown {
  position: absolute;
  border-radius: 0.4em 0 0 0.4em;
  border: 0;
  height: 42px;
  background: #1c316b;
  transform: scaleX(28%) translate(-509.6px, 184.7px);
}
#charger {
  position: absolute;
  border-radius: 0.1em;
  border: 0;
  height: 4px;
  background: rgb(12, 12, 12);
  transform: scaleX(270%) translate(-1.73px, 519.78px);
}
#antena {
  position: absolute;
  border-radius: 0.1em 0.07em 0.07em 0.1em;
  border: 0;
  height: 8px;
  background: #111d3f;
  transform: scaleX(48%) translate(-171.75px, 517.3px);  
}
#speaker1, #speaker2, #speaker3, #speaker4, #speaker5, #speaker6, #speaker7, #speaker8 {
  position: absolute;
  border-radius: 100%;
  border: 0;
  height: 4px;
  background: rgb(12, 12, 12);   
}
#baut1, #baut2 {
  position: absolute;
  border-radius: 100%;
  border: 0;
  height: 4px;
  background: rgb(109, 109, 109);
}
#speaker1 {
  transform: scaleX(48%) translate(calc(-124px - 9.73px) ,519.78px);
}
#speaker2 {
  transform: scaleX(48%) translate(calc(-104px - 9.73px) ,519.78px);
}
#speaker3 {
  transform: scaleX(48%) translate(calc(-84px - 9.73px) ,519.78px);
}
#baut1 {
  transform: scaleX(48%) translate(calc(-50px - 9.73px), 519.78px);
}
#baut2 {
  transform: scaleX(48%) translate(calc(50px - 9.73px), 519.78px);
}
#speaker4 {
  transform: scaleX(48%) translate(calc(84px - 9.73px), 519.78px);
}
#speaker5 {
  transform: scaleX(48%) translate(calc(104px - 9.73px), 519.78px);
}
#speaker6 {
  transform: scaleX(48%) translate(calc(124px - 9.73px), 519.78px);
}
#speaker7 {
  transform: scaleX(48%) translate(calc(144px - 9.73px), 519.78px);
}
#speaker8 {
  transform: scaleX(48%) translate(calc(164px - 9.73px), 519.78px);
}

#poni, .poni {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 16;
}
#poni {
  animation: poniAwal 0.4s ease forwards;
}
@keyframes poniAwal {
  0% {
    opacity: 1;
  } 100% {
    opacity: 1;
  }
}
.navMobile {
  position: absolute;
  z-index: 9;
  height: 22px;
  margin-top: 6.5px;
  width: calc(100% - 2*10%);
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}
.navMobileLeft {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 9px;
}
.navMobileRight {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}
.navSignal {
  transform: scale(0.76) translateX(8px)
}
.navWiFi {
  transform: scale(0.84) translateX(3px)
}
.footerMobile {
  position: absolute;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(500px);
}
.gesturiPhone {
  background: white;
  width: 30%;
  height: 4px;
  border-radius: 10em;
  border: 0;
}

#poniX, .poniR {
  position: absolute;
  z-index: 10;
  background: rgb(14, 14, 14);
  color: transparent;
  width: 80px;
  height: 22px;
  margin-top: 6.5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  line-height: 160px;
  transition: all 0.26s ease-out;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
}
.poniR1 {
  position: absolute;
  z-index: 10;
  background: rgb(18, 18, 18);
  color: transparent;
  width: 54px;
  height: 22px;
  margin-top: 6.5px;
  margin-right: 26px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  line-height: 160px;
  transition: all 0.26s ease-out;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
}
.poniR1X {
  position: absolute;
  z-index: 10;
  background: rgb(16, 15, 20);
  color: transparent;
  width: 48px;
  height: 16px;
  margin-top: 6.5px;
  margin-right: 26px;
  border-radius: 20px;
  transform: translate(-0.5%, 16.9%);
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  line-height: 160px;
  transition: all 0.26s ease-out;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
}
.poniR2 {
  position: absolute;
  z-index: 10;
  background: rgb(18, 18, 18);
  color: transparent;
  width: 24px;
  height: 22px;
  margin-top: 6.5px;
  margin-left: 56px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  line-height: 160px;
  transition: all 0.26s ease-out;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
}
.poniR2X {
  position: absolute;
  z-index: 12;
  background: rgb(15, 20, 16);
  color: transparent;
  width: 18px;
  height: 16px;
  margin-top: 6.5px;
  margin-left: 56px;
  transform: translate(-1.4%, 16.9%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  line-height: 160px;
  transition: all 0.26s ease-out;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
}
@keyframes panelLayer {
  0% {
    line-height: 128px;
    width: 80px;
    height: 22px;
    color: white;
    border-radius: 28px;
  } 100% {
    line-height: 64px;
    width: 238px;
    height: 64px;
    color: white;
    border-radius: 28px;
  }
}
@keyframes panelLayerR {
  0% {
    line-height: 64px;
    width: 238px;
    height: 64px;
    color: white;
    border-radius: 28px;
  } 100% {
    line-height: 128px;
    width: 80px;
    height: 22px;
    color: white;
    border-radius: 28px;
  }
}