#home {
    position: relative;
    width: 100%;
    justify-content: center;
    overflow: auto;
    background-position: center;
    background-size: cover;

}

#grid-container {
    position: relative;
    display: grid;
    justify-content: center;
    overflow-y: auto;
}
.grid-item {
    width: 100%;
    height: min-content;
}
#pictureDiv {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 0.24em;
    aspect-ratio: 3 / 2;
}
.grid-itemUtama {
    width: 100%;
}
#pictureDivUtama {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 0.24em;
}
#pictureIMGUtama, #pictureIMGButton {
    position: relative;
    z-index: 2;
    object-fit:cover;
    width:100%;
    height:100%;
    transition: 0.16s ease-out;
}


#judulHuruf {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
#isiHuruf {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
#isiTanggal {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

#buttonDetail {
    background: transparent;
    border: none;
    width: 100%;
}

#pictureDiv2 {
    position: relative;
    z-index: 2;
    object-fit:cover;
    width:100%;
    height:100%;
}

#pictureIMG {
    object-fit:cover;
    width:100%;
    height:100%;  
    transition: 0.22s ease-out;
}

#picturePopUser {
    position: relative;
    transform: translateY(-100%);
    z-index: 2;
    transition: all 0.22s ease-out;
}

#pictureText {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    letter-spacing: 0.6px;
    font-weight: 500;
    transition:  all 0.22s ease-out;
}

#judulHuruf {
    color: black;
}
#isiHuruf, #isiTanggal {
    color: rgb(16, 16, 16);
}

#pictureText, #pictureEdit, #pictureDelete {
    background: #1e90ff;
}
#ToolsNews, #EditText, #DeleteText, #pictureTextD, #Kategori {
    color: white;
}


@media only screen and (min-width: 850px) {
    #frist-last-down, #previos-next-down {
        display: none;
    }
}

@media only screen and (min-width: 700px) and (max-width: 849.5px) {
    #frist-last-up, #previos-next-down {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 699.5px) {
    #frist-last-up, #previos-next-up {
        display: none;
    }
}

.pagination {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item, .page-item2 {
    background: #43b7ff;
    border-radius: 0.16em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    padding-left: 9px;
    padding-right: 9px;
    height: 26px;
    margin: 2.4px;
    transition: 0.14s ease-out;
}
.page-itemX {
    text-decoration: none;
}
.buttonPage {
    background: transparent;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    border: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}