#header, #datauser, .UltraBlur, .UltraBlurX {
    background-image: url(/FileWeb/Wallpaper/W10.jpg);
    /* animation: Wallpaper 1.872s ease forwards; */
    background-position-y: 36%;
}
.scroll-bodyKomentar, .layerChat, .layerChat-menu {
    background-image: url(/FileWeb/Wallpaper/W10.jpg);
    background-size: cover;
    background-position-x: center;
}
.forCustomPicture {
    content: url(/FileWeb/Wallpaper/W10.jpg);
}

@keyframes Wallpaper {
    0% {
        background-position-y: 0%;
    } 100% {
        background-position-y: 36%;
    }
}

#idText {
    color: white;
    background: rgb(213, 188, 147);
}

#buttonNavColor, #buttonNavImage {
    background: rgba(213, 188, 147, 0.16);
    border: 2px solid rgba(213, 188, 147);
}
#buttonNavColor:hover, #buttonNavImage:hover {
    background: rgb(213, 188, 147, 0.64);
}
#buttonNavColor:active, #buttonNavImage:active {
    background: rgb(213, 188, 147, 0.42);
}
#iconColor, #iconImage {
    color: white;
}