#header, #datauser, .UltraBlur, .UltraBlurX {
    background-image: url(/FileWeb/Wallpaper/W6.jpg);
    /* animation: Wallpaper 3.80536s ease forwards; */
    background-position-y: 73.18%;
}
.scroll-bodyKomentar, .layerChat, .layerChat-menu {
    background-image: url(/FileWeb/Wallpaper/W6.jpg);
    background-size: cover;
    background-position-x: center;
}
.forCustomPicture {
    content: url(/FileWeb/Wallpaper/W6.jpg);
}

@keyframes Wallpaper {
    0% {
        background-position-y: 0%;
    } 100% {
        background-position-y: 73.18%;
    }
}

#idText {
    color: black;
    background: rgb(176, 169, 255, 0.86);
}

#buttonNavColor, #buttonNavImage {
    background: rgba(176, 169, 255, 0.16);
    border: 2px solid rgba(176, 169, 255);
}
#buttonNavColor:hover, #buttonNavImage:hover {
    background: rgb(176, 169, 255, 0.64);
}
#buttonNavColor:active, #buttonNavImage:active {
    background: rgb(176, 169, 255, 0.42);
}
#iconColor, #iconImage {
    color: black;
}