#header, #datauser, .UltraBlur, .UltraBlurX {
    background-image: url(/FileWeb/Wallpaper/W7.jpg);
    /* animation: Wallpaper 2.243696s ease forwards; */
    background-position-y: 43.148%;
}
.scroll-bodyKomentar, .layerChat, .layerChat-menu {
    background-image: url(/FileWeb/Wallpaper/W7.jpg);
    background-size: cover;
    background-position-x: center;
}
.forCustomPicture {
    content: url(/FileWeb/Wallpaper/W7.jpg);
}

@keyframes Wallpaper {
    0% {
        background-position-y: 0%;
    } 100% {
        background-position-y: 43.148%;
    }
}

#idText {
    color: white;
    background: rgb(166, 62, 215, 0.86);
}

#buttonNavColor, #buttonNavImage {
    background: rgba(166, 62, 215, 0.16);
    border: 2px solid rgba(166, 62, 215);
}
#buttonNavColor:hover, #buttonNavImage:hover {
    background: rgb(166, 62, 215, 0.64);
}
#buttonNavColor:active, #buttonNavImage:active {
    background: rgb(166, 62, 215, 0.42);
}
#iconColor, #iconImage {
    color: white;
}