/* Admin */

:root {
    --padding1: 6px 12.5px 6px 13.5px; 
    --padding086: calc(6px * 0.86) calc(12.5px * 0.86) calc(6px * 0.86) calc(13.5px * 0.86);
    --padding08: calc(6px * 0.8) calc(12.5px * 0.8) calc(6px * 0.8) calc(13.5px * 0.8);
    --padding074: calc(6px * 0.74) calc(12.5px * 0.74) calc(6px * 0.74) calc(13.5px * 0.74);  
}

#Nav, #NavLite, #NavX, #NavNon {
    background: linear-gradient(to right, #7e2ce8, #a062f1);
}
#NavCenter, #NavCenterDes, #NavCenterMob {
    color: #23232f;
}
#NavCenter2 {
    color: #23232f;
}
#NavCenter2X {
    color: #23232f;
}

@media only screen and (min-width: 780px) {
    .Pencarian[type=text] {
        border: 3.4px solid #23232f;
        color: #23232f;
    }
    .Pencarian::placeholder {
        color: #1a1a26;
    }
    .Pencarian:focus::placeholder {
        color: #23232f;
    }

    .PencarianLens {
        color: #23232f;
    }
}
@media only screen and (min-width: 0px) and (max-width: 779.5px) {
    .Pencarian[type=text] {
        border: 3.4px solid white;
        color: white;
    }
    .Pencarian::placeholder {
        color: #e8e8e8;
    }
    .Pencarian:focus::placeholder {
        color: white;
    }

    .PencarianLens, .teksP, .teksPLite {
        color: white;
    }
}

.icon18, .icon20, .icon22, .teks, .teksLite {
    color: #23232f;
}
.iconM {
    color: #23232f;
}

/* Admin */




/* Home */

#background {
    background: rgb(26, 26, 26);
}
.grid-item {
    border-bottom: 4px solid #926ac6;
}
#judulHuruf, .name-NameChat {
    color: white;
}
#isiHuruf, #isiTanggal, .email-NameChat {
    color: rgb(239, 239, 239);
}

#pictureText, #pictureEdit, #pictureDelete, .user-msg, .you-isi, .you-bot-isi {
    background: #9b59f1;
}
#ToolsNews, #EditText, #DeleteText, #pictureTextD, #Kategori, .user-msg, .you-isi, .you-bot-isi {
    color: white;
}
.you-isi::before, .you-bot-isi::before {
    background: linear-gradient(135deg, #9b59f1 0%, #9b59f1 50%, transparent 50%, transparent);
}

/* Home */




/* Detail */

.user-typingKomentar {
    background: linear-gradient(to right, #8c40eb, #954fee);
}
#divP {
    color: white;
}
.scroll-bodyKomentarX, .scroll-body-PribadiX {
    background: rgba(44, 44, 44, 0.42);
    color: white;
}
.scroll-bodyKomentarLite {
    background: rgb(36, 36, 36);
    color: white;
}
.komentar-kolom, .chat-all {
    border-top: 1.4px solid rgba(146, 106, 198, 0.56);
}

/* Detail */




/* Fitur */

.WadahCreateNav, .WadahDeleteNav, .WadahRegisterNav {
    background: #9b59f1;
}
.colorNavCreateED {
    color: white;
}

/* Fitur */




/* Page */

.page-item, .page-item2 {
    background: #703fae;
}
.page-item:hover, .page-item2:hover {
    background: #8556c2;
}
.buttonPage {
    color: white;
}

/* Page */




/* Footer */

#footer {
    border-top: 1.2px solid #926ac6;
}
#aFooter {
    color: white;
}
#aFooter:hover {
    color: red;
}

/* Footer */




/* Webkit */

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10em; 
}
::-webkit-scrollbar-thumb {
    background: #462176;
    border-radius: 10em;
    border: 6px solid transparent;
    background-clip: content-box;
}

/* Webkit */

.adapNight {
    color: white;
}
.adapTebal {
    background: #9b59f1;
    color: white;
    padding: 0 6px;
    border-radius: 0.16em;
}

.tugasDiv {
    background: rgb(52, 52, 52);
}
.buttonTugas > input {
    background: #dcddde;
}